<h1>Editing membership for <%= params[:club_name]%></h1>

<%= render "edit_form", membership: @membership %>

<br>

<div>
  <%= link_to("Back to My Profile", user_path(current_user), class: "btn btn-info") %>
</div>
<br>
<br>
