<h1>Editing membership for <%= @club_name %></h1>

<%= render "edit_form", membership: @membership %>

<br>

<div>
  <%= link_to("Back to My Profile", user_path(current_user), class: "btn btn-info") %>
  <%= link_to("Back to Admin Pages", admin_page_path, class: "btn btn-info") %>

</div>
<br>
<br>
