
<h3>Toggle players who are present</h3>



<%@club.users.each_slice(3) do |memberships|%>
    <div class="row">
        <% memberships.each do |u| %>
            <div class="list-group-item col-md-4 align-items-center align-items-middle" style="margin-bottom: 5px">
                <%membership = Membership.find_by(user_id: u.id, club_id: @club.id)%>
                <%=form_tag do%>
                    <%= render 'membership_form', u: u, membership: membership%>
                <%end%>
            </div>
        <%end%>
    </div>
<%end%>


<%= link_to("Back to Session", session_show_path(club: @club), class: "btn btn-success mt-3") %>
<%# update_membership_path(membership.id) %>

<%# Manually add the url/path to the form to submit the POST request  %>
<%# Make sure I define a PUT/PATCH route to call on form submit %>

